header {
  position: relative;
  z-index: 10;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero {
  height: 100vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea 60%);
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 60px;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  line-height: 1.1;
}

.hero-left h2 {
  color: #090909;
  font-size: 26px;
  font-weight: 600;
}

.hero-left p {
  color: #171717;
  font-size: 4vw;
  font-weight: 700;
  margin: 0;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-hand-icon img {
  width: 105px;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  border-radius: 75px;
  margin-top: 30px;
  background: #ff4141;
  color: #fde1ff;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  transition: background 0.3s;
}

.hero-latest-btn:hover {
  background: #e03e3e;
}

.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
